# Welcome

This material is from Chapter 9 of [*Think Python*, 3rd edition](https://greenteapress.com/wp/think-python-3rd-edition), by Allen B. Downey. I have adapted it for this class.

# Lists

This chapter presents one of Python's most useful built-in types, lists.
You will also learn more about objects and what can happen when multiple variables refer to the same object.

In the exercises at the end of the chapter, we'll make a word list and use it to search for special words like palindromes and anagrams.

## A list is a sequence

Like a string, a **list** is a sequence of values. In a string, the
values are characters; in a list, they can be any type.
The values in a list are called **elements**.

There are several ways to create a new list; the simplest is to enclose the elements in square brackets (`[` and `]`).
For example, here is a list of two integers.

In [ ]:
numbers = [42, 123]
numbers[1]

And here's a list of three strings.

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

The elements of a list don't have to be the same type.
The following list contains a string, a float, an integer, and even another list.

In [ ]:
t = ['spam', 2.0, 5, [10, 20]]

A list within another list is **nested**.

A list that contains no elements is called an empty list; you can create
one with empty brackets, `[]`.

In [ ]:
empty = []

The `len` function returns the length of a list.

In [ ]:
len(cheeses)

The length of an empty list is `0`.

In [ ]:
len(empty)

## Lists are mutable

To read an element of a list, we can use the bracket operator.
The index of the first element is `0`.

In [ ]:
cheeses[0]

Unlike strings, lists are mutable. When the bracket operator appears on
the left side of an assignment, it identifies the element of the list
that will be assigned.

In [ ]:
numbers[1] = 17
numbers

The second element of `numbers`, which used to be `123`, is now `17`.

List indices work the same way as string indices:

-   Any integer expression can be used as an index.

-   If you try to read or write an element that does not exist, you get
    an `IndexError`.

-   If an index has a negative value, it counts backward from the end of
    the list.

The `in` operator works on lists -- it checks whether a given element appears anywhere in the list.

In [ ]:
'Edam' in cheeses

In [ ]:
"z" in "cheese"

In [ ]:
'Wensleydale' in cheeses

Although a list can contain another list, the nested list still counts as a single element -- so in the following list, there are only four elements.

In [ ]:
t = ['spam', 2.0, 5, [10, 20]]
len(t)

And `10` is not considered to be an element of `t` because it is an element of a nested list, not `t`.

In [ ]:
10 in t

## List slices

The slice operator works on lists the same way it works on strings.
The following example selects the second and third elements from a list of four letters.

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters[1:3]

If you omit the first index, the slice starts at the beginning.

In [ ]:
letters[:2]

If you omit the second, the slice goes to the end.

In [ ]:
letters[2:]

So if you omit both, the slice is a copy of the whole list.

In [ ]:
letters[:]

Another way to copy a list is to use the `list` function.

In [ ]:
list(letters)

Because `list` is the name of a built-in function, you should avoid using it as a variable name.

## List operations

The `+` operator concatenates lists.

In [ ]:
t1 = [1, 2]
t2 = [3, 4]
t1 + t2

The `*` operator repeats a list a given number of times.

In [ ]:
['spam'] * 4

No other mathematical operators work with lists, but the built-in function `sum` adds up the elements.

In [ ]:
sum(t1)

And `min` and `max` find the smallest and largest elements.

In [ ]:
min(t1)

In [ ]:
max(t2)

## List methods

Python provides methods that operate on lists. For example, `append`
adds a new element to the end of a list:

In [ ]:
letters.append('e')
letters

`extend` takes a list as an argument and appends all of the elements:

In [ ]:
letters.extend(['f', 'g'])
letters

There are two methods that remove elements from a list.
If you know the index of the element you want, you can use `pop`.

In [ ]:
t = ['a', 'b', 'c']
t.pop(1)

In [ ]:
t

The return value is the element that was removed.
And we can confirm that the list has been modified.

In [ ]:
t

If you know the element you want to remove (but not the index), you can use `remove`:

In [ ]:
t = ['a', 'b', 'c']
t.remove('b')

The return value from `remove` is `None`.
But we can confirm that the list has been modified.

In [ ]:
t

If the element you ask for is not in the list, that's a ValueError.

In [ ]:
t.remove('d')

To see available methods for an object, use `help` and ignore those surrounded by double underbars (e.g. `__add__`), also known as *dunder* methods. Dunder methods should not be used directly.

In [ ]:
help(t)

## Lists and strings

A string is a sequence of characters and a list is a sequence of values,
but a list of characters is not the same as a string.
To convert from a string to a list of characters, you can use the `list` function.

In [ ]:
s = 'spam'
t = list(s)
t

The `list` function breaks a string into individual letters.
If you want to break a string into words, you can use the `split` method:

In [ ]:
s = 'pining for the fjords'
t = s.split()
t

An optional argument called a **delimiter** specifies which characters to use as word boundaries. The following example uses a hyphen as a delimiter.

In [ ]:
s = 'ex-parrot'
t = s.split('-')
t

If you have a list of strings, you can concatenate them into a single string using `join`.
`join` is a string method, so you have to invoke it on the delimiter and pass the list as an argument.

In [ ]:
delimiter = ' '
t = ['pining', 'for', 'the', 'fjords']
s = delimiter.join(t)
s

In this case the delimiter is a space character, so `join` puts a space
between words.
To join strings without spaces, you can use the empty string, `''`, as a delimiter.

## Glossary

**list:**
 An object that contains a sequence of values.

**element:**
 One of the values in a list or other sequence.

**nested list:**
A list that is an element of another list.

**delimiter:**
 A character or string used to indicate where a string should be split.

## Exercises

### List Practice

Given the user inputs, complete a program that does the following tasks:

1. Define a list, `basic_python_types`, containing the user inputs: `base_type_1`, `base_type_2`, and `base_type_3` in the same order.

In [ ]:
# work problem 1 here

2. Define a list, `interm_python_types`, containing the user inputs, `int_type_1` and `int_type_2`, in the same order.

In [ ]:
# work problem 2 here

3. Define a list, `all_python_types`, by concatenating `basic_python_types` and `interm_python_types`.

In [ ]:
# work problem 3 here

4. Append the user input, `adv_python_type`, to the end of `all_python_types`.

In [ ]:
# work problem 4 here

5. Replace `base_type_2` in `all_python_types` with `adv_python_type`.

In [ ]:
# work problem 5 here

6. Remove the first occurrence of `adv_python_type` from `all_python_types` without using `index()`.

In [ ]:
# work problem 6 here

7. Remove the second element of `all_python_types`.

In [ ]:
# work problem 7 here

---

Auburn University / Industrial and Systems Engineering  
INSY 3010 / Programming and Databases for ISE / Fall 2024  
Â© Copyright 2024, Danny J. O'Leary  
For licensing, attribution, and information: [README.md](../README.md)